.techs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
}

.techs__container {
  display: flex;
  flex-direction: column;
  width: 1140px;
  margin: 100px 0;
  justify-content: center;
  align-items: center;
}

.techs__title-container {
  display: flex;
  width: 100%;
  border-bottom: 1px black solid;
}

.techs__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  margin: 0 0 23px;
}

.techs__about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 90px 0 100px;
}

.techs__about-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 0 0 25px;
}

.techs__text-text {
  max-width: 460px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0;
}

.techs__grid-container {
  display: grid;
  grid-template-columns: repeat(7, 90px);
  gap: 10px;
}

.techs__tech-container {
  background-color: #E8E8E8;
  border-radius: 10px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.techs__tech {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .techs__container {
    width: 668px;
    margin: 90px 0;
  }

  .techs__title-container {
    display: flex;
    width: 100%;
    border-bottom: 1px black solid;
  }

  .techs__about-container {
    margin: 80px 0;
  }

  .techs__about-title {
    margin: 0 0 20px;
  }

  .techs__text-text {
    line-height: 18px;
  }

  .techs__grid-container {
    grid-template-columns: repeat(7, 85px);
  }

  .techs__tech {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 767px) {
  .techs {
    background-color: #FAFAFA;
  }

  .techs__container {
    width: 284px;
    margin: 70px 0;
  }

  .techs__title-container {
    display: flex;
    width: 100%;
    border-bottom: 1px black solid;
  }

  .techs__about-container {
    margin: 60px 0 50px;
  }

  .techs__about-title {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 25px;
  }

  .techs__text-text {
    font-size: 11px;
    line-height: 16px;
  }

  .techs__grid-container {
    grid-template-columns: repeat(2, 85px);
  }

  .techs__tech {
    font-size: 12px;
    line-height: 15px;
  }
}